## Query
The most basic search that can be performed is the query.  The query is a free-formed text expression, similar to the type of query you can perform within Google, matching against documents within the specified view.

In [1]:
import refinitiv.data as rd
from refinitiv.data.content import search
import pandas as pd

# Default session - desktop
rd.open_session()

In [2]:
# Uncomment the following to see a larger data set when displaying to the screen.
pd.set_option('display.max_colwidth', 140)
#pd.set_option('display.max_rows', 10000)

rd.__version__

'1.0.0b10'

#### Query - Default behavior

In [3]:
# The default syntax for search is to specify a query expression.  By default, search will return a default set of 
# fields (Properties).
response=search.Definition('IBM').get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,ORGANISATION,"International Business Machines Corp, Public Company",<NA>,37036,<NA>
1,ORGANISATION,"Banco IBM SA, Private Company",<NA>,76208,<NA>
2,QUOTExEQUITY,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994,1097326,IBM
3,ORGANISATION,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>,18062670,<NA>
4,QUOTExEQUITY,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421,48924732,0#IBMF:
5,QUOTExEQUITY,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771,259118763,0#IBMDF:
6,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892,49450681,IBMFc1
7,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949,50092347,IBMFc2
8,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",21613372305,260213021,IBMDFc1
9,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",21481053950,50092348,IBMFc3

In [4]:
# By default, 10 documents will be returned.  Let's override that.
response=search.Definition(
    query = 'IBM',
    top = 100
).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,ORGANISATION,"International Business Machines Corp, Public Company",<NA>,37036,<NA>
1,ORGANISATION,"Banco IBM SA, Private Company",<NA>,76208,<NA>
2,QUOTExEQUITY,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994,1097326,IBM
3,ORGANISATION,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>,18062670,<NA>
4,QUOTExEQUITY,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421,48924732,0#IBMF:
...,...,...,...,...,...
95,QUOTExEQUITY,"OPRA International Business Machines Equity Option 140 Call Oct 2022 , Equity Cash Option, Call 140 USD 21-Oct-2022, OPRA",21873635449,585044391,IBMJ212214000.U
96,QUOTExEQUITY,"OPRA International Business Machines Equity Option 125 Call Apr 2022 , Equity Cash Option, Call 125 USD 29-Apr-2022, OPRA",21879436239,592003961,IBMD292212500.U
97,QUOTExEQUITY,"OPRA International Business Machines Equity Option 128 Call Apr 2022 , Equity Cash Option, Call 128 USD 29-Apr-2022, OPRA",21879437075,592004795,IBMD292212800.U
98,ORGANISATION,"Corts Trust Iv For Ibm Debentures, Private Company",<NA>,215376,<NA>
99,ORGANISATION,"SPSS Inc, Private Company, merged with International Business Machines Corp",<NA>,50962,<NA>

#### Query Expressions
If we were to type in the following expression, we might come away believing the query will list all personnel within IBM that have a title
of CEO.  While, the results will indicate people related to IBM and people with a title of CEO, we cannot assume they are both.  That is, 
we will see results with the term IBM and CEO listed in the document.

In [5]:
# Match all documents where the term Apple and CEO appear in any order
query = 'Apple CEO'
response=search.Definition(query).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI
0,PERSON,"Tim D. Cook - Apple Inc - Chief Executive Officer, Director",34413199178,34413199178
1,PERSON,"Justin G. Knight - Apple Hospitality REIT Inc - Chief Executive Officer, Director",34416217975,34416217975
2,PERSON,"Jim B. Apple - First Citizens Bancorporation Inc - Chairman of the Board, President, Chief Executive Officer",34414140484,34414140484
3,PERSON,"Robert F. Apple - Antares Pharma Inc - President, Chief Executive Officer, Director",34413215518,34413215518
4,PERSON,William J. Laraia - Apple Bank Corp - Chairman & CEO,34413587831,34413587831
5,PERSON,"Steven C. Bush - Apple Bank for Savings - Chairman of the Board, President, Chief Executive Officer",34425530536,34425530536
6,PERSON,"Harold Apple - Vector Insurance Services LLC - President, CEO, Founder",34414259533,34414259533
7,PERSON,"Alejandro Reynal - Apple Leisure Group - President, Chief Executive Officer",34425662584,34425662584
8,PERSON,"Vincent Loy - Apple Green Holding Inc - Chief Executive Officer, Director",34413957535,34413957535
9,PERSON,"John Decker - Apple Valley Waste Services Inc - Managing Partner, Chief Executive Officer",34414987092,34414987092

Alernately, I can do this by selecting the '**People**' view.

In [6]:
response=search.Definition(
    view = search.SearchViews.PEOPLE,
    query = query
).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI
0,PERSON,"Tim D. Cook - Apple Inc - Chief Executive Officer, Director",34413199178,34413199178
1,PERSON,"Justin G. Knight - Apple Hospitality REIT Inc - Chief Executive Officer, Director",34416217975,34416217975
2,PERSON,"Jim B. Apple - First Citizens Bancorporation Inc - Chairman of the Board, President, Chief Executive Officer",34414140484,34414140484
3,PERSON,"Robert F. Apple - Antares Pharma Inc - President, Chief Executive Officer, Director",34413215518,34413215518
4,PERSON,William J. Laraia - Apple Bank Corp - Chairman & CEO,34413587831,34413587831
5,PERSON,"Steven C. Bush - Apple Bank for Savings - Chairman of the Board, President, Chief Executive Officer",34425530536,34425530536
6,PERSON,"Harold Apple - Vector Insurance Services LLC - President, CEO, Founder",34414259533,34414259533
7,PERSON,"Alejandro Reynal - Apple Leisure Group - President, Chief Executive Officer",34425662584,34425662584
8,PERSON,"Vincent Loy - Apple Green Holding Inc - Chief Executive Officer, Director",34413957535,34413957535
9,PERSON,"John Decker - Apple Valley Waste Services Inc - Managing Partner, Chief Executive Officer",34414987092,34414987092

In [7]:
# Search for a specific ISIN using query
response=search.Definition('US046353AQ14').get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869,0x00102cb50fde0d55,046353AQ1=
1,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS",<NA>,0x00102c2380de0d4c,046353AQ1=1M
2,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS L2",<NA>,0x00102c9a7ade0d0f,046353AQ1=2M
3,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, BARCLAYS TRADEWEB PRICE",<NA>,0x00102cbda5d029dd,US046353AQ14=BXTW
4,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, CREDIT SUISSE TRADEWEB PRICE",<NA>,0x00102cbda5b71586,US046353AQ14=CSTW
5,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, HSBC TRADEWEB PRICE",<NA>,0x00102c506eee30dc,US046353AQ14=HSTW
6,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS COMPOSITE PLUS",<NA>,0x00102ce0bcbf19c6,US046353AQ14=MKCP
7,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, RBC TRADEWEB PRICE",<NA>,0x00102cb583d42ff1,US046353AQ14=RCTW
8,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEWEB APA",<NA>,0x00102ce830f8273b,US046353AQ14=TBEA
9,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TDS TRADEWEB PRICE",<NA>,0x00102c435ce30dcd,US046353AQ14=TDTW

In [8]:
# Narrow the search to only instruments
response=search.Definition(
    view = search.SearchViews.INSTRUMENTS,
    query = 'US046353AQ14'
).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869,0x00102cb50fde0d55,046353AQ1=

#### Query Syntax
A query phrase can support some basic syntax including wildcards, boolean expressions and exact phrase matching.

In [9]:
# Use a specifc term in quotes and the boolean operator to locate specific tankers - use the Content layer 
# to print additional details.
response = search.Definition('"Caribbean Tanker" and Baltic').get_data()
print(f'Matched a total of {response.total} documents')
response.data.df

Matched a total of 10 documents

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,PHYSICALASSETxVESSEL,"BALTIC PROSPERITY, Chemical Tanker, LAVINIA CORP, Caribbean Sea|Caribbean Tanker Zone",77309511101,77309511101,C}KN7309511101
1,PHYSICALASSETxVESSEL,"SAO PAULO, VLCC, MED & BALTIC SHIPMANAGEMENT, Caribbean Sea|Caribbean Tanker Zone",77309483963,77309483963,C}KV7309483963
2,PHYSICALASSETxVESSEL,"GOLD SEASON, Aframax / LRII, V SHIPS LTD, West Atlantic Ocean (Americas)",77309484503,77309484503,C}KA7309484503
3,PHYSICALASSETxVESSEL,"ALPINE MATHILDE, Medium, DIAMOND S MANAGEMENT LLC, Caribbean Sea|Caribbean Tanker Zone",77309494547,77309494547,C}KM7309494547
4,PHYSICALASSETxVESSEL,"TAMIAT NAVIGATOR, Medium, IINO MARINE SERVICE CO LTD, West Atlantic Ocean (Americas)|Caribbean Tanker Zone",77309498150,77309498150,C}KM7309498150
5,PHYSICALASSETxVESSEL,"VASSILIO XVIII, Coastal, SANAHIL IO, West Atlantic Ocean (Americas)|Belem Tanker Zone",77309434563,77309434563,C}KC7309434563
6,PHYSICALASSETxVESSEL,"BALTIC, Aframax / LRII, ALPHA SHIPMANAGEMENT PTE LTD, South Pacific Ocean (NZ)|Melbourne Tanker Zone|Bass Strait Waypoint",77309466817,77309466817,C}KA7309466817
7,PHYSICALASSETxVESSEL,"MONT ACE, Handy, THOME SHIPPING PTE LTD, Louisiana|Gulf of Mexico|US Gulf Tanker Zone|United States",77309449300,77309449300,C}KH7309449300
8,PHYSICALASSETxVESSEL,"JS INEOSINDEPENDENCE, MGC, EVERGAS MANAGEMENT AS, Denmark|Baltic Sea|Baltic Tanker Zone",77309827354,77309827354,C}KL7309827354
9,PHYSICALASSETxVESSEL,"MORES, SGC, LUMASHIP SRL, East China Sea|Korea Tanker Zone",77309467172,77309467172,C}KG7309467172

In [10]:
# Use a wildcard (*) to search for references to 'Covid*'.
# Specified specific data fields in the response
response=search.Definition(
    query = "Covid*",
    select = "DTSubjectName, DTSimpleType, DTSource, DTCharacteristics"
).get_data()
print(f'Matched a total of {response.total} documents')
response.data.df

Matched a total of 9492 documents

,DTSubjectName,DTSimpleType,DTSource,DTCharacteristics
0,Covidh Technologies Ltd,Public Company,<NA>,<NA>
1,"Euro Zone, Coronavirus (COVID-19), Total cases, Volume",Reuters Polls,Reuters,Daily
2,"Euro Zone, Coronavirus (COVID-19), New cases, Volume",Reuters Polls,Reuters,Daily
3,"Euro Zone, Coronavirus (COVID-19), Deaths, Volume",Reuters Polls,Reuters,Daily
4,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls,Reuters,Daily
5,"Coronavirus (COVID-19), Vaccinations, Doses administered, Per hundred people, Volume",Reuters Polls,Our World in Data,Daily
6,"Coronavirus (COVID-19), Vaccinations, Doses administered, Total, Volume",Reuters Polls,Our World in Data,Daily
7,"Coronavirus (COVID-19), Vaccinations, People vaccinated, % of total",Reuters Polls,Our World in Data,Daily
8,"Coronavirus (COVID-19), Vaccinations, People fully vaccinated, % of total",Reuters Polls,Our World in Data,Daily
9,"Coronavirus (COVID-19), New cases, Volume",Reuters Polls,Reuters,Daily

In [11]:
rd.close_session()